<!DOCTYPE html>
<html lang="my" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="'လျှောက်ထားသူများ: ' + ${job.title}">Applicants List</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/header :: main-header"></div>

<div class="container my-5">
    <p>
        <a th:href="@{/employer/jobs}" class="btn btn-secondary btn-sm">← Job List သို့ ပြန်သွားရန်</a>
    </p>

    <h1 th:text="${job.title}" class="mb-3">Job Title</h1>
    <h2 class="h4 text-muted" th:text="'စုစုပေါင်း လျှောက်လွှာ: ' + ${applications.size()}">Total Applications: 0</h2>

    </div>

<div th:replace="fragments/footer :: main-footer"></div> 

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
