<!DOCTYPE html>
<html lang="my" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>အလုပ်ရှင် Dashboard</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/header :: main-header"></div>

<div class="container my-5">
    <h1 class="mb-4">အလုပ်ရှင် Dashboard</h1>
    <h2 th:text="'တင်ထားသော အလုပ်များ (' + ${jobs.size()} + ')'">Your Posted Jobs</h2>
    
    <p class="mb-4">
        <a th:href="@{/newJob}" class="btn btn-success"><i class="fas fa-plus me-2"></i> အလုပ်အသစ်တင်ရန်</a>
    </p>

    </div>

<div th:replace="fragments/footer :: main-footer"></div> 

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
